@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--dark900: #1b1b1b;
	--dark800: #29292a;
	--light900: #fff;
	--dark700: #333537;
	--light800: #bcc4d1;
	--purple: #6746ed;
	--cyan: #2bebc8;
}
body {
	min-height: 100vh;
	background-color: var(--dark900);
	font-family: "Open Sans", sans-serif;
}
a {
	text-decoration: none;
	color: var(--light800);
}
.main-wrapper {
	width: 90rem;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto auto;
	grid-row-gap: 2.5rem;
}
.header {
	display: flex;
	align-items: flex-start;
}
.main-img {
	height: 20rem;
	width: 55rem;
}
.assignments {
	display: flex;
	align-items: center;
	justify-content: center;
}
.table {
	height: 40rem;
	width: 70rem;
	background-color: var(--dark800);
	border-radius: 20px;
	padding: 0 8%;
	margin-bottom: 2.5rem;
	display: grid;
	grid-template-rows: 1.5fr 9fr;
}
.table-title {
	border-bottom: 2px solid var(--dark700);
	padding-bottom: 1rem;
	align-self: end;
}
.table-title h1 {
	color: var(--light900);
	font-size: 1.8rem;
}
.table-body {
	height: 100%;

	align-self: start;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	align-items: center;
}
.table-item {
	font-size: 1.1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--dark700);
	color: var(--light800);
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 6fr 1fr 1fr;
}
.table-item a:hover {
	text-decoration: underline;
}
.demo {
	color: var(--cyan);
}
.repo {
	color: var(--cyan);
}
